
body {
  background-color: #9bba80;
}
h1 {
  font-family: 'VT323', monospace;
  /* font-size: 3em; */
  margin-left: 100px;
}

h2 {
  font-family: 'VT323', monospace;
  /* font-size: 2em; */
  text-decoration:  underline;
  margin-bottom: 0;
}

#container {
  max-width: 900px;
  background-color: snow;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px;
}

#calculator {
  width: 245px;
  float: left;
  margin: 10px 100px 100px 100px;
  padding: 10px;
}

#top {
  border-radius: 10px 10px 0px 0px;
  background-color: #444;
  padding: 25px;
  border: solid 2px black;
}
#display {
  width: 100%;
  font-family: 'VT323', monospace;
  background-color: #9bba80;
  text-align: right;
  color: #273542;
  text-shadow: 2px 2px 1px #617251;
  font-size: 30px;
  font-weight: 800;
  box-shadow: inset 2px 2px 1px #617251;
  border: solid 1px black;
  border-bottom: solid 1px black;
  overflow-wrap: break-word;
}

#display > div {
  padding: 2px 4px;
}

#numPad {
  background-color: #333;
  border: solid 2px black;
  border-radius: 0 0 10px 10px;
}

#numPad button {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 5px;
  font-size: 2em;
}

#history {
  font-family: 'VT323', monospace;
  height: 400px;
  overflow: scroll;
}

button {
  font-family: monospace;
  outline: none;
}

body::-webkit-scrollbar{
  background-color: snow;
}