@font-face {
  font-family: calculator;
  src: url('fonts/calculator.ttf');
}

#container {
  max-width: 900px;
}

#top {
  background-color: #444;
  width: 75px;
  padding: 5px 10px;
  border: solid 2px black;
}
#display {
  width: 100%;
  font-family: calculator;
  background-color: #9bba80;
  text-align: right;
}
#display > div {
  padding: 1px 2px;
}
#numPad {
  background-color: #333;
  border: solid 2px black;
  padding: 10px;
  width: 75px;
}

#history {
  font-family: calculator;
}

#numPad div {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: monospace;
}